/* #navbar, #search{
  display: flex;
  position: relative;
  z-index: 1;
}

.logo {
  background-image: url(/src/logo/Group\ 139.png);
  background-size: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  margin-left: 20px;
  margin-top: 20px;
} */

body {
  /* No white margin around the website */
  margin: 0;
  width: 100%;
  cursor: url(/src/cursor/Ellipse\ 17.png), auto;
}

#bar, #navbar, #menu{
  position: fixed;
  max-width: 30em;
  width:100%;
  line-height: 0;
  padding: 5px 0;
  height: 5em;
  top: 20em;
}

#bar {
  line-height: 0;
  height: 5em;
  top : 20em;
  padding: 5px 0;
}

.search, .translate{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
  display: block;
  position: fixed;
  height:20px;
  width: 10em;
  top: 15px;
  
}
.search{
  background-image: url(./src/menu/search.svg);
  right: 15em;
}

.translate{
  background-image: url(./src/menu/Group\ 144.png);
  right: 5em;
}

#menu {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  
}

.logo, .attraction, .hotel, .toursit, .informaiton, .contact {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: fixed;
}

.logo {
  background-image: url(./src/logo/Group\ 139.png);
  width: 8em;
  height: 5em;
  left: 80px;
  top: 2em;
}

.attraction {
  background-image: url(./src/menu/Group\ 161.png);
  width: 6em;
  height: 80px;
  right: 40em;
  top: 40px;
}

.hotel {
  background-image: url(./src/menu/Group\ 162.png);
  width: 6em;
  height: 80px;
  right: 29em;
  top: 40px;
}

.toursit {
  background-image: url(./src/menu/Group\ 163.png);
  width: 6em;
  height: 80px;
  right: 29em;
  top: 40px;
}

.contact {
  background-image: url(./src/menu/Group\ 165.png);
  width: 6em;
  height: 80px;
  right: 7em;
  top: 40px;
}

#pic {
  display: cover;
  position: relative;
  width: 100%;
  top: 70px;
  height: 680px;

  background-image: url(/src/pic/img_1.png);
  background-size: 97% 95%;
  background-repeat: no-repeat;
  background-position: center;
}

#bgImage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.above {
  flex: 73;
  background-color: #fcf9f4;
}

.middle {
  flex: 5;
  background-color: #f7f0cd;
}

.bottom {
  flex: 22;
  background-color: #A0b34c;
}
