/* #navbar, #search{
  display: flex;
  position: relative;
  z-index: 1;
}

.logo {
  background-image: url(/台灣旅遊網站/logo/Group\ 139.png);
  background-size: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  margin-left: 20px;
  margin-top: 20px;
} */

body {
  /* No white margin around the website */
  margin: 0;
}

#pic {
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  bottom: -5px;
  height: 90%;
  width: 99%;
  background-image: url(/台灣旅遊網站/pic/img_1.png);
  z-index: 1;
}

#bgImage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

/* .bottom, .middle, .above {
  position: fixed;
  width: 100%;
  z-index: -1;
} */

.above {
  flex: 73;
  background-color: #fcf9f4;
}

.middle {
  flex: 5;
  background-color: #f7f0cd;
}

.bottom {
  flex: 22;
  background-color: #A0b34c;
}
